<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="itesm.mx.a01191470_tarea_registrousuario" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".login"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name=".registro"
            android:label="@string/title_activity_registro" >
        </activity>
        <activity
            android:name=".Perfil"
            android:label="@string/title_activity_perfil" >
        </activity>
        <activity
            android:name=".lista_articulos"
            android:label="@string/title_activity_lista_articulos" >
        </activity>
    </application>

</manifest>
